#game-board {
   border-collapse: collapse;
   background-color: white;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#game-board td {
  padding: 0;
  height: 20px;
  width: 20px;
  border: 1px solid green;
}

.snake {
   background-color: black;
}
.obstacles {
    background-color: gray;
}

.food{
   background-color: red;
}